{% extends "base_generic.html" %}

{% block content %}
<h2 class="text-3xl font-semibold mb-6 text-center text-blue-600">Search Results</h2>
{% if buses %}
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white shadow-lg rounded-lg">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-600 tracking-wider">Company</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-600 tracking-wider">Departure</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-600 tracking-wider">Duration</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-600 tracking-wider">Arrival</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-600 tracking-wider">Starting Price</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-600 tracking-wider">Available Seats</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-600 tracking-wider"></th>
                </tr>
            </thead>
            <tbody>
                {% for route, departure, arrival, duration, arrival_day, price, seats in buses %}
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">{{ route.bus.company }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">{{ departure }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">{{ duration }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">{{ arrival }} ({{arrival_day}})</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">{{ price }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">{{ seats }}</td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                            <a href="{% url 'booking' route.id from_location to_location travel_date %}" class="btn bg-blue-600 text-white py-2 px-4 rounded">Book Now</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="text-center text-gray-600">No buses found for the selected route and date.</p>
{% endif %}
{% endblock %}
