<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blue Bus{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
</head>
<body class="bg-gray-100 text-gray-900">
    <header class="bg-gray-800 text-white p-4 flex items-center justify-between">
        <div class="flex items-center">
            <img src="{% static 'logo.png' %}" alt="Blue Bus Logo" class="h-10 mr-4">
            <a href="/" class="text-2xl hover:underline" style="padding-right:10px;"><strong>Home</strong></a>
            <a href="/book" class="text-xl hover:underline">Book</a>
        </div>
        <div>
            {% if user.is_authenticated %}
                <span class="text-xl mr-4">
                    {% if user.first_name %}
                    {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                    Guest
                    {% endif %}</span>
                <a href="/logout" class="text-xl hover:underline">Logout</a>
            {% else %}
                <a href="{% url 'account_login' %}?next={{ request.path }}" class="text-xl hover:underline">Login</a>
            {% endif %}
        </div>
    </header>
    <main class="p-4">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
